
@{
    ViewBag.Title = "FAQVIEW";
}

<div class="jumbotron">
    <div class="bg"></div>
    <font color="white"><h2> Submit Your Response</h2></font>
</div>



    <br />
    @ViewBag.FAQ
    <br />
    <br />

    <textarea class="form-control" placeholder="Enter your response here"></textarea>
    <br />
    <button type="reset" class="btn btn-default">Submit</button>
